/build/
/build-*/
/mongo-cxx-driver-*/build/
CMakeCache.txt
CMakeFiles/
.qtcreator/
cmake_install.cmake
Makefile
*.exe
*.dll
*.a
*.lib
*.tar.gz
*.o
*.obj
/mongo-install/
mongo-cxx-driver-r4.1.4/
mongo-cxx-driver-r3.10.1/
*.pro.user
*.pro.user.*
*.autosave
*.qmake.stash
.vscode/
.DS_Store
Thumbs.db
.env